


@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;700&display=swap');

* {
    font-family: 'Grenze Gotisch', cursive;
    color: #FFF;
}

/*
h1 {
    padding: 1rem !important;
    margin-top: 4rem !important;
}
*/

hr {
    background: #FFF;
}


.custom-color-yellow {
    color: #FFB737;
}

.custom-color-violet {
    color: #A12CB9;
}

.custom-border-violet {
    border-bottom: 3px solid #A12CB9 !important;
}

.custom-border-yellow {
    border: 3px solid #FFB737 !important;
}




.custom-bg-queen {
    background: linear-gradient(160deg, rgba(255,183,55,1) 0%, rgba(161,44,185,1) 100%);
}