/* --------------------------------------------------------------

    La Manu Le Havre - Formation Bachelor - 2020/2021

    Projet 2 - Méthodes Agiles

    Willem PRETERRE
    Mathis Saulnier
    Tom DELAUNAY

-------------------------------------------------------------- */

/* -------------------------------
    @@@Global
------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;700&display=swap');

* {
    font-family: 'Grenze Gotisch', cursive;
    color: #FFF;
    font-size: 1.1rem;
}

hr {
    background: #FFF;
    margin-top: 2rem;
}

h2 {
    padding: 2rem 0;
}

h3 {
    padding-bottom: 1rem;
}

h4 {
    padding-top: 1rem;
}

input:hover {
    background: rgb(255,183,55);
    background: linear-gradient(50deg, rgba(255,183,55,1) 9%, rgba(161,44,185,1) 89%);
}
textarea:hover {
    background: rgb(255,183,55);
    background: linear-gradient(50deg, rgba(255,183,55,1) 9%, rgba(161,44,185,1) 89%);
}

/* -------------------------------
    @@@BackToTop
------------------------------- */

#back-to-top {
    text-align: center;
    height: 40px;
    width: 40px;
    color: #FFF;
    position: fixed;
    padding: 5px;
    bottom: 10px;
    right: 10px;
    background: #1F1D18;
    border-radius: 50%;
}

/* -------------------------------
    @@@Classes
------------------------------- */

.custom-border-yellow {
    border: 2px solid #FFB737 !important;
}

.custom-bg-yellow {
    background: #FFB737;
}

.custom-bg-queen {
    background: rgba(255,183,55,1);
    background: linear-gradient(160deg, rgba(255,183,55,1) 0%, rgba(161,44,185,1) 100%);
}

.custom-bg-dark {
    background: rgb(52,58,64);
    background: linear-gradient(126deg, rgba(52,58,64,1) 0%, rgba(25,21,13,1) 100%);
}